.shadow-custom {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) ; 
}

.card-flight {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) ; 
    &:hover{
        box-shadow: 0px 0px 10px rgba(11, 11, 11, 0.5) ;  ; 
    }
}

.text-ticket-type{
    font-family: math;
    color: rgb(249, 0, 116);
    font-style: italic;
}

.font-family-none {
    font-family: 'Times New Roman', Times, serif;
}

.text-fare-type {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
}

.time-filter:hover {
    background-color: rgb(245 245 245) ;
    transition: 0.4s;
}

.active-time-filter {
    background-color: #1677FF !important;
}

.active-time-filter div {
    color: white !important;
}

.price-airline-filter {
    font-size: 13px;
}

.collapse-filter {
        .ant-collapse {
            background-color:white;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .ant-collapse-item {
                .ant-collapse-header {
                    background-color: #FAFAFA;
                }
            }
        }
}

.icon-required {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
}